body {
    font-family: Arial, sans-serif;
    background-color: #7E08CA;
}
.formulario-registro{
    border-radius: 10px;
    background-color: rgb(27, 2, 49);
}
.btn-guardar {
    background-color: #9d7bca;
    text-decoration: none;
    color: white;
}
.btn-guardar:hover {
    background-color: rgb(92, 19, 156);
    color: white;
}
.btn-volver {
    background-color: #9d7bca;
    text-decoration: none;
    color: white;
}
.btn-volver:hover {
    background-color: rgb(92, 19, 156);
    color: white;
}
.error {
    display: block;
    color: red;
    font-size: 13px;
    text-align: center;
    font-weight: 800;
}