.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    /* El login estará encima */
}

.login-box {
    background: #fff;
    padding: 2.5rem;
    border-radius: 3rem;
    width: 100%;
    max-width: 450px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.20);
    position: relative;
    z-index: 1;
    /* ✅ El formulario estará encima del canvas */
}

.login-box:hover {
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.50);
}

.login-box h2 {
    margin: 1rem 0 1.5rem;
    font-weight: 600;
    color: #461c68;
    font-size: 1.75rem;
}

.btn-login {
    background-color: #461c68;
    padding: 15px;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 500;
    border-radius: 0.5rem;
}

.btn-login:hover {
    background-color: #5e2d8b;
    transform: scale(1.03);
    color: #fff;
}

.login-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.login-box img:hover {
    transform: scale(1.05);
}

.form-label {
    font-weight: 500;
    color: #333;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    /* Asegura que esté al fondo */
    pointer-events: auto;
    /* ❗ Esto permite que los clics pasen al formulario */
}