html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    position: relative;
}

.login-box {
    background: #fff;
    padding: 1.8rem;
    border-radius: 1.8rem;
    width: 100%;
    height: auto;
    max-width: 420px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(6px);
    /* 🔥 efecto cristal elegante */
}

.login-box:hover {
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.50);
}

.login-box h2 {
    margin: 1rem 0 1.5rem;
    font-weight: 700;
    color: #461c68;
    font-size: 1.9rem;
    letter-spacing: 0.5px;
}


.btn-login {
    background: linear-gradient(135deg, #461c68, #7E08CA);
    padding: 14px;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.btn-login:hover {
    background: linear-gradient(135deg, #5e2d8b, #9d3ede);
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

.login-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
    border: 3px solid #fff;
    transition: transform 0.3s ease;
}

.login-box img:hover {
    transform: scale(1.07);
}

.form-label {
    font-weight: 500;
    color: #333;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    /* Asegura que esté al fondo */
    pointer-events: auto;
    /* ❗ Esto permite que los clics pasen al formulario */
}