/* Estilo base para todos los botones de acción */
.btn-accion {
    width: 50px;
    margin: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #461c68;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    gap: 6px;
    font-size: 14px;
}

.btn-accion i {
    font-size: 16px;
}

/* Ver */
.btn-ver {
    background-color: #461c68;
}

.btn-ver:hover {
    background-color: #666;
    transform: scale(1.02);
}

/* Editar */
.btn-editar {
    background-color: #461c68;

}

.btn-editar:hover {
    background-color: #666;
    transform: scale(1.02);
}

/* Eliminar */
.btn-eliminar {
    background-color: #461c68;
}

.btn-eliminar:hover {
    background-color: #666;
    transform: scale(1.02);
}

/* Descargar */
.btn-descargar {
    background-color: #461c68;
    padding:7px;
}

.btn-descargar:hover {
    background-color: #666;
    transform: scale(1.02);
}

/* Boton asistencia */

.btn-asistencia {
    background-color: #4b0082; /* morado profundo */
    color: #fff;
    font-weight: 600;
    padding: 0.45rem 1.2rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0 3px 8px rgba(75, 0, 130, 0.3);
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.btn-asistencia:hover {
    background-color: #6a0dad; /* tono más claro en hover */
    box-shadow: 0 4px 12px rgba(106, 13, 173, 0.4);
    transform: translateY(-2px);
    color: #fff;
}

.btn-asistencia:active {
    transform: scale(0.97);
}